@import '../../protected/vendor/bower/bootstrap/less/bootstrap';
@import "ajax-loading";

@blueStart: #7AB8C0;
@blueEnd: #55A4AE;
@redStart: #F78689;
@redEnd: #F35256;
@redDark: #F24246;
@greenStart: #21C28E;
@greenEnd: #18926A;
@greenDark: #18926A;
@greenLight: #1AEAA6;
@greyBorder: #DEDEDE;
@greyStart: #E5E5E5;
@greyEnd: #C8C8C8;
@pink: #F46467;
@globalBorderRadius: 4px;

.t-c {
	text-align: center;
}

body {
	background: #EFEFEF;
	padding-top: 80px;
	position: relative;
}

.form-control {
	border-radius: 0;
	padding: 10px;
	border-color: @greyBorder;
	height: 40px;
	color: #999999;

	&_border-radius {
		border-radius: @globalBorderRadius;
	}

	&_white-gradient {
		#gradient > .vertical(#F8F8F8, #FDFDFD);
	}
}

.button-blue {
	#gradient > .vertical(@blueStart, @blueEnd);
	border-radius: 0;
	border: 0;
	padding: 14px 40px;
	font-size: 16px;
	font-weight: bold;

	.glyphicon {
		margin-right: 8px;
		vertical-align: middle;
		margin-top: -4px;
	}

	&.pull-right {
		margin-left: 30px;
	}

	&:hover, &:focus {
		#gradient > .vertical(@blueEnd, @blueStart);
	}

	&_grey {
		#gradient > .vertical(@greyStart, @greyEnd);
		color: #666666;

		&:hover, &:focus {
			color: #666666;
			#gradient > .vertical(@greyEnd, @greyStart);
		}
	}
}

.login-button {
	width: 80%;
	margin: 0 auto;
}

.shadowed-box {
	background-color: #fff;
	border: 1px @greyBorder solid;
	.box-shadow(0 0 15px @greyBorder);
}

.form-control {
	border-color: @greyBorder;
}

// Login form
.login-form {
	padding: 50px 50px 20px;
}

// Catalog
.green-tabs {
	#gradient > .vertical(@greenStart, @greenEnd);
	border: 1px @greenDark solid;
	border-bottom: 3px @greenLight solid;

	li {
		margin-bottom: -3px;

		a, a:hover, a:focus {
			border: 0;
			border-right: 1px @greenDark solid;
			border-radius: 0;
			color: #fff;
			#gradient > .vertical(@greenStart, @greenEnd);
			line-height: 39px;
			padding: 0 60px;
			margin-right: 0;
			font-weight: bold;
		}

		&.active {
			margin-left: -1px;

			a, a:hover, a:focus {
				margin-top: -6px;
				background: #fff;
				color: @greenDark;
				line-height: 46px;
				border: 0;
				border-top: 3px @greenLight solid;
			}
			
			&:first-child {
				a {
					border-left: 1px @greyBorder solid;
				}
			}
		}
	}

	&__content {
		padding: 10px 30px 30px;
		border: 1px @greyBorder solid;
		border-top: 0;
		background: #fff;
	}
}

.product {
	border: @greyBorder 1px solid;
	position: relative;
	height: 220px;
	overflow: hidden;
	margin-bottom: 10px;
	cursor: pointer;

	&_checked {
		border-color: @greenEnd;

		.product__info {
			background: @greenDark;
			color: #fff;
			border-color: @greenDark;
		}

		.product__price {
			color: #fff;
		}
	}

	img {
		max-width: 100%;
	}

	&__info {
		border: @greyBorder 1px solid;
		border-left: 0;
		padding: 8px 10px;
		position: absolute;
		left: 0;
		bottom: 10px;
		background: #fff;
		width: 90%;
	}

	&__company {
		font-size: 11px;
	}

	&__price {
		font-size: 24px;
		color: @greenDark;
	}
}

// cart
.cart-summary {
	background: @redEnd;
	padding-top: 16px;
	padding-bottom: 30px;
	.box-shadow(rgba(0, 0, 0, 0.5) 0 0 20px);
	//display: none;

	&-wrapper {
		position: fixed;
		bottom: 0; // must be 0 !!! -> hotfix // 50px
		width: 100%;

		> .container {
			position: relative;
		}
	}

	&__icon {
		background: @redEnd;
		position: absolute;
		width: 70px;
		line-height: 27px;
		border-radius: 8px 8px 0 0;
		text-align: center;
		left: 38px;
		top: -27px;
		color: #fff;
		font-size: 16px;
		cursor: pointer;
	}

	&__table-wrapper {
		margin-bottom: 20px;
		overflow: auto;
		max-height: 253px;
	}

	&__table {
		border: 1px #fff solid;
		color: #fff;
		margin-bottom: 0;

		th, td {
			border-color: #fff;
			vertical-align: middle !important;
		}

		th {
			background: #F77D81;
		}

		tr:nth-child(2n + 1) > td {
			background: @pink;
		}

		input[type="text"], input[type="number"] {
			height: 25px;
			width: 50px;
			background: @redEnd;
			border: 1px #fff solid;
			color: #fff;
			padding-top: 4px;
			padding-bottom: 4px;
		}

		input[type="number"] {
			line-height: 15px;
		}

		input[type="checkbox"] {
			margin-top: 0;
			vertical-align: middle;
		}
	}

	&__button {
		border-radius: 0;
		padding: 10px 50px;
		background: @redDark;
		border: 1px #fff solid;

		&, &:hover, &:focus {
			color: #fff;
		}

		&:hover, &:focus {
			background-color: @pink;
		}

		&_w100 {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			text-align: center;
		}
	}

	&__sum {
		font-size: 40px;
		line-height: 70px;

		.glyphicon-yen {
			font-size: 30px;
		}
	}

	&__link {
		display: block;
		background-color: @redDark;

		&, &:hover, &:focus {
			color: #fff;
			text-decoration: none;
		}

		&:hover, &:focus {
			background-color: @pink;
		}
	}
}

.white-border-block {
	color: #fff;
	width: 100%;
	text-align: center;
	padding: 15px 0;
	border: 1px #fff solid;
	margin-bottom: 10px;
}

.padded-box {
	padding: 20px 28px 18px;
	margin-bottom: 10px;

	&_no-margin-bottom {
		margin-bottom: 0;
	}
}

.light-grey-bg {
	background: #F7F7F7;
}

.red {
	color: @redEnd;
}

.muted {
	color: #999999;
}

.f18 {
	font-size: 18px;
}

.table-grey {
	border: 1px @greyBorder solid;

	&_no-border {
		border-left: 0;
		border-right: 0;
		border-break: 0;
	}

	th {
		background: #F7F7F7;
	}

	&__footer {
		td {
			border-top-width: 2px !important;
			text-align: right
		}
	}
}

.top-menu {
	#gradient > .vertical(@blueStart, @blueEnd);
	margin-bottom: 30px;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;

	nav.collapse {
		//display: inline-block !important;
		float: left;

		a:hover, a:focus {
			background: transparent;
		}
	}

	&__text {
		font-size: 20px;
		line-height: 50px;
		padding-left: 10px;
	}

	a {
		color: #FFFFFF;
	}

	.navbar-toggle {
		float: left;
	}
}

.cart-cloud {
	line-height: 50px;
	position: relative;
	margin-right: 15px;

	&__list-icon {
		background: url("../images/cloud-icon.png");
		.size(15px, 19px);
		display: block;
		margin-top: 15px;
	}

	&__cloud {
		background: url("../images/cloud.png");
		.square(22px);
		color: #fff;
		font-size: 10px;
		position: absolute;
		top: -2px;
		right: -15px;
		display: block;
		line-height: 1em;
		text-align: center;
		padding-top: 3px;
	}
}

.content {
	min-height: 545px;
}

.blue-link {
	.size(100%, 90px);
	padding-top: 15px;
	text-align: center;
	display: block;
	#gradient > .vertical(@blueStart, @blueEnd);
}

.navbar-nav {
	.active {
		background-color: #fff;
		a {
			color: @redEnd;
		}
	}
}

.master-block {
	padding-top: 170px;
	padding-bottom: 230px;
}

input[type="checkbox"] {
	.square(16px);
}

button.navbar-toggle {
	display: block;
}

.nav-bar {
	@width: 210px;
	.size(@width, 100%);
	position: fixed;
	top: 0;
	left: -@width;
	background: @blueStart;
	z-index: 9;
	.transition(0.5s left);
	.box-shadow(0 0 10px rgba(0, 0, 0, 0.5));

	&_opened {
		left: 0;
	}

	&__title {
		font-size: 16px;
		color: #fff;
		padding-left: 35px;
		padding-top: 100px;
		margin-bottom: 22px;
	}

	&__list {
		li {
			@bgColor: #689DA3;

			a {
				padding-left: 110px;
				color: #fff;
				font-size: 16px;
				line-height: 40px;
				margin-bottom: 1px;
				position: relative;
				background: @bgColor;

				&:hover, &:focus {
					background-color: darken(@bgColor, 5%);
				}

				&:before {
					content: '';
					display: block;
					background: url('../images/nav-bar-icons.png') no-repeat;
					.size(35px, 24px);
					position: absolute;
					left: 57px;
					top: 17px;
				}
			}

			&.active {
				a {
					background-color: darken(@bgColor, 5%);
				}
			}
		}
	}

	&__catalog {
		a:before {
			margin-left: -8px;
		}
	}
	&__history {
		a:before {
			height: 24px !important;
			background-position: 0 -25px !important;;
		}
	}
	&__master {
		a:before {
			height: 23px !important;;
			background-position: 0 -50px !important;;
		}
	}
	&__settings {
		a:before {
			height: 23px !important;;
			background-position: 0 -74px !important;;
		}
	}
	&__logout {
		a:before {
			height: 25px !important;;
			background-position: 0 -98px !important;;
		}
	}
}

.icon-bar {
	background-color: #fff;
}

.table-edit {

	td {
		height: 42px;
	}

	tr:hover {
		.table-edit__controls {
			display: block;
		}
	}

	&__controls {
		display: none;

		&-label {
			font-size: 12px;
			color: #999999;
			vertical-align: middle;
			padding-left: 5px;
			margin-top: -2px;
			display: inline-block;
		}
	}

	&__control {
		background: url('../images/crud-icons.png') no-repeat;
		height: 20px;
		padding-left: 22px;
		border: 0;
		margin-left: 25px;
		display: inline-block;
		vertical-align: middle;
		text-decoration: none !important;
		margin-bottom: 5px;

		&_edit {
			background-position: 0 -20px;
		}
		&_delete {
			background-position: 0 -40px;
		}
		&_next {
			background-position: 0 -60px;
			height: 22px;
			margin-bottom: -2px;
		}
		&_list {
			background-position: 0 -82px;
		}
		&_cancel {
			background: url('../images/crud-cancel.png') 0 -1px no-repeat;
		}
	}

	.form-control {
		height: 25px;
		padding: 2px 5px;
		margin-left: -6px;
	}

	img {
		max-width: 70px;
		border: 1px @greyBorder solid;
	}
}

.table-checkbox {
	height: 25px;
	width: 50px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.modal-red {

	.modal-content {
		border-radius: 0;
		border: 1px #fff solid;
		padding: 20px 30px;
		#gradient > .vertical(@redStart, #F56E72);
	}

	.modal-body {
		text-align: center;
		color: #fff;
		font-size: 20px;
		font-weight: bold;
	}

	.modal-footer {
		border-top: 0;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
		text-align: left;

		button {
			border-radius: 0;
			border: 1px #fff solid;
			.size(100px, 50px);
			font-size: 18px;
		}
	}

	.modal-dialog {
		max-width: 360px;
	}
}

.control-label {
	margin-top: 8px;
}

.icon-back {
	background: url("../images/back-icon.png");
	.size(20px, 14px);
	display: inline-block;
	margin-right: 8px;
}

// pagination
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: @blueEnd;
	border-color: @blueEnd;
}
.pagination > li > a, .pagination > li > span {
	color: @blueEnd;
}

.bold {
	font-weight: bold;
}

.help-block {
	font-weight: bold;
}

.search-form {
	@borderRadius: 4px;
	margin-top: 9px;
	padding-right: 35px;
	border-right: 1px #fff dotted;

	.form-control {
		height: 32px;
		border-top-left-radius: @borderRadius;
		border-bottom-left-radius: @borderRadius;
		border-color: #fff;
		#gradient > .vertical(#EFEFEF, #F7F7F7);
	}

	button {
		height: 32px;
		#gradient > .vertical(#E5E5E5, #C8C8C8);
		border-radius: @borderRadius !important;
		margin-left: -@borderRadius !important;
		border-left: 0;

		&, &:hover {
			border-color: #fff;
		}
	}
}

.nobr {
	white-space: nowrap;
}

.addon-blue {
	#gradient > .vertical(@blueStart, @blueEnd);
	border-radius: @globalBorderRadius !important;
	border: 0;
	position: relative;
	left: -2px;
	z-index: 2;

	.glyphicon {
		color: #fff;
	}
}

.btn-blue {
	border-radius: @globalBorderRadius !important;
	margin-left: -4px !important;
	border: 0;
	height: 34px;

	&, &:hover, &:focus {
		color: #fff;
		#gradient > .vertical(@blueStart, @blueEnd);
	}

	.glyphicon {
		color: #fff;
	}
}

.radio-inline_padding-top {
	padding-top: 8px;
}

.bs-searchbox .form-control {
	float: none !important;
}